<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
{% include 'navbar.html' %}
<body style ="background-color:#FFFFAD">



<div style ="font-size:15pt;color:purple; text-align:top-right;float:right; border-left:5px #FF78FF dotted;border-bottom:5px #FF78FF dotted;padding-top:13px; padding-right:20px; padding-left:10px; margin-right:45px; width:15%">	

{{event.name}}



<br>	



{{event.category}}


<br>



{{event.time}}


<br>


{{event.location}}
		
</div>



<h1>
<span>

Suggestions For {{event.category}}
</span>
</h1>
{% if suggestions.count() == 0 %}
<b>There are no suggestions for this category yet! Sorry...</b>
{% endif %}
{% for suggestion in suggestions %}
<br>--------------<br>
 Step:
 <span
 style = "font-size:14pt"
 >
{{suggestion.step}}
</span>

<br>--------------<br>
{% endfor %}


<h2>Current Steps:</h2>
{% if event_steps.count() == 0 %}
You don't have any steps yet, go ahead and add some!
{% endif %}
{% for step in event_steps %}
Step {{step.step_num}}: 
<span
style = "font-size:14pt">
{{step.step}}
</span></a><br>
{% endfor %}


<form class="form-horizontal" action="" method="post">
   {{form.hidden_tag()}}
    Step:
    {{form.step(id="step",class="form-control input-sm",placeholder="Step")}}
{% for error in form.errors.name %} <span style="color: red">{{ error }}</span> {% endfor %}
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
</body>
</html>