<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
{% include 'navbar.html' %}
<body style ="background-color:#FFFFAD">


<br>


<div class="alert alert-success" role="alert" style="text-align:center">

    <h4><b>Event: {{event.name}}</b></h4>
    <p>
        Time: {{event.time}}
        Location: {{event.location}}
</div>








<div class="container" >
    <form class="form-horizontal" action="" method="post">
        {{form.hidden_tag()}}

        <label display="block">
                    Add a Step:
            </label>
        {{form.step(id="step",class="form-control ",placeholder="See our suggestions for ideas ;)")}}

        <button type="submit" class="btn btn-primary btn-sm">Submit</button>



        {% for error in form.errors.step %} <span style="color: red">{{ error }}</span> {% endfor %}
    </form>
    <div class="row">
        <div class="col-xs-6">
            <h4>Current Steps:</h4>
            {% if event_steps.count() == 0 %}
            You don't have any steps yet, go ahead and add some!
            {% endif %}
            <ul class="list-group">
                {% for step in event_steps %}
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok"></span> Step {{step.step_num}}:
<span
        style = "font-size:14pt">
{{step.step}}

</span>
                </li>
                {% endfor %}
            </ul>

        </div>
        <div class="col-xs-6">
            <script type="text/javascript">
   function addTextTag(text){
    document.getElementById('step').value = text;
   }
</script>

            <h4>
<span>

Suggestions For {{event.category}}
</span>
            </h4>
            {% if suggestions.count() == 0 %}
            <b>There are no suggestions for this category yet! Sorry...</b>
            {% endif %}
            <ul class="list-group">
                {% for suggestion in suggestions %}
                <li class="list-group-item list-group-item-success">

                    <span class="glyphicon glyphicon-share-alt"> </span> Step:
 <span
         style = "font-size:14pt"
         >

     <a href="#" onClick="addTextTag('{{suggestion.step}} '); return false">
         {{suggestion.step}}
     </a>
</span>

                </li>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>


</body>
</html>