{% include 'navbar.html' %}


<h1>Event Listings</h1>


<br>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1><font color = white> Your Personalized Event Planner</p></h1>
        <p class="lead">Want to plan an event? Don't know where to start? We can help! Click Create an Event and we will give you the suggestion steps you need to make your event planning process flawless.</p>
        <p><a class="btn btn-lg btn-success" href="/createEvent" role="button">Create an Event</a></p>
      </div>

<h1>Event Listings</h1>

<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Event #</th>
                  <th>Name</th>
                  <th>Time</th>
                  <th>Location</th>

                </tr>
              </thead>
              <tbody>
              {% for event in events %}
                <tr>

                  <td>{{event.id}}</td>
                  <td> <a href=viewEvent/{{event.id}}>{{event.name}}</a></td>
                  <td>{{event.time}}</td>
                  <td>{{event.location}}</td>

                </tr>
{% endfor %}
              </tbody>
            </table>
          </div>