<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
{% include 'navbar.html' %}
<body style = "background-color:#FFD79D">
<br>
<span
style="font-size:20pt;font-weight:bold;font-family:Bookman Old Style">
View Event
</span>

<br><br>





<div class="container" >

    <div class="row">
        <div class="col-xs-6">

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{event.name}}</h3>
    </div>
    <div class="panel-body">

Category:
{{event.category}}
<br>
Time:
{{event.time}}
<br>
Location:
{{event.location}}
<br>
  <style>img{ height: 100px; }</style>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script>



$.getJSON("https://ajax.googleapis.com/ajax/services/search/images?v=1.0&q={{event.name}}&callback=?",
          {
            unescapedUrl: "any"
          },
          function(data) {
            $.each(data.responseData.results, function(i,results){
                  $("<img/>").attr("src", results.unescapedUrl).attr("id", "img"+i).appendTo("#images");
                  $("#img"+i).wrap($("<a/>").attr("href", results.unescapedUrl));
              if ( i == 1 ) $("#images").append("<br />");
            });
            return false;
          });


</script>
        <div id="images"></div>

                   <br>
        <span
style ="font-size:15pt">
<a href=../addStep/{{event.id}}>&nbspAdd Step!</a>
</span>

        <br><br>
<span class='st_sharethis_large' displayText='ShareThis'></span>
<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_linkedin_large' displayText='LinkedIn'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>
<span class='st_email_large' displayText='Email'></span>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "ur-b117ce22-1a3-d3d-ef91-4801198e24e2", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>



    </div>
</div>





        </div>
        <div class="col-xs-6">
            <h4>Current Steps:</h4>
            {% if event_steps.count() == 0 %}
<b>There is no Step for this event yet! <a href=../addStep/{{event.id}}>Add one!</a></b>
            {% endif %}
            <ul class="list-group">
                {% for step in event_steps %}
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok"></span> Step {{step.step_num}}:
<span
        style = "font-size:14pt">
{{step.step}}

</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>


</body>
</html>